body {
  padding: 0;
  margin: 0;
}
html, body{
  height: 100%;
  width: 100%;
}
h1, h2, h3, h4, h5, p, a, ul, li {
  font-family: Tahoma, Geneva, sans-serif;
}
h1,h2{
}
iframe{
  width: 90%;
  height: 800px;
}
#map {
  height: 100%;
  width: 100%;
}
#viewDiv {
  height: 90%;
  width: 100%;
}
.map-overlay{
  position: absolute;
}
#info {
  top: 10px;
  right: 10px;
  height: 40%;
  padding-left: 5px;
  padding-top: 0px;
  width: 250px;
  background-color: rgba(255, 255, 255, 50%);
  overflow: auto;
  border-radius: 8px;
}
#features {
  top: 190px;
  height: 100px;
  margin-top: 20px;
  width: 250px;
}
#legend {
  width: 190px;
  top: 10px;
  right: 10px;
  margin-right: 10px;
  border-radius: 0px;
}
#controls {
  width: 0px;
  top: 10px;
  left: 10px;
  margin-right: 10px;
  background-color: #000000;
}
.button-control {
  display: block;
  position: absolute;
  border-radius:4px;
  background-color: white;
  padding: 6px 5px 4px;
  color: black;
}
#button-fullscreen {
  top: 94px;
  width: 20px;
  height: 20px;
}
